<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello!</p>
    <p>Thanks for your trainer request! We're currently matching you up with the perfect trainer for you. We'll get back to you soon!</p></br>
    <p>Thanks!</p></br>
    <p>The TrainerIO Team</p>

  </body>
</html>