<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @message.name %></h1>
    <h1><%= @message.email %></h1>
    <h1><%= @message.age %></h1>
    <h1><%= @message.goal %></h1>

  </body>
</html>