<div class="header">
	<h1>Thanks for your Request!
	</h1>
	<h3>We're a brand new company and customer service is our primary focus. We'll do our best to pair you up with a great personal trainer. 
	</h3>



</div>