<!--Jumbotron-->
<div class="header1">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<h1>Get a Personal Trainer. </br> Get Results.</h1>
				<h4>Let us connect you to highly trained, pre-screened fitness professionals available for online coaching & training.</h4></br>
				<% if user_signed_in? %>
          # do something
     		<% else %>
       		<%= link_to "Get Started", requests_path, class: "btn btn-primary btn-lg" %>
  			<% end %> 
  				<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#learnmore">
  Learn More
</button>
			 		</br></br></br>
			</div>
		</div>
	</div>
</div>
   	
<!--Separator Section-->

<div class="center">
	<h5>Train with Confidence -- 100% Money Back Guarantee</h5>
</div>

<!--How It Works Section-->

<div class="about">
	<div class="container">
			<div class="center">
				<h2>How TrainerIO Works</h2>
			</div>
			<hr>
			<div class="row center">
					<div class="col-sm-6 col-md-4">
					  <div class="thumbnail">
					      <h4><span class="glyphicon glyphicon-import"></span> 1. Submit a Free Request.</h4>
					  </div>
					</div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					        <h4><span class="glyphicon glyphicon-user"></span> 2. We'll find you a great trainer.</h4>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					        <h4><span class="glyphicon glyphicon-star-empty"></span> 3. Get Connected and Get Results.</h4>
							</div>
						</div>
			</div>
	</div>
</div>

<!--Separator Section-->

	<div class="smallsection center">
		<h5>Are you an experienced, passionate personal trainer?</h5><button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Join Our Team
</button>
	</div>


<!--Features Section-->

<div class="about">
	<div class="center">
		<h2>Why Use TrainerIO?</h2>
	</div>
	<hr>
	<div class="features">
		<div class="row center">
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Fully Customized Plans</h3>
		  		</div>
		  		<div class="panel-body"><p>Our trainers will create a fitness plan designed around your goals, schedule, and current level of fitness. If somethings not working for you, just tell your trainer!</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Pre-Screened Experts</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>We ensure only the best are on trainerIO by comprehensively interviewing each trainer---including reference and credential checks.</p>
		  		</div>
		  	</div>
		  </div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Flexible Arrangements</h3>
					</div>
					<div class="panel-body">
						<p>Workout on your schedule! Work with your trainer to develop the best plan for you and your busy life. Let technology set you free!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row center">
		  <div class="col-md-4">
		   	<div class="panel panel-default">
		   		<div class="panel-heading">
		   			<h3>Get Motivated</h3>
		   		</div>
		   		<div class="panel-body">
		   			<p>Half the battle is getting yourself to the gym reguarly. Let your trainer keep you motivated, encourged, and on track to surpass your goals.</p>
		   		</div>
		   	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Save Money</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>Averaging $80/hour, trainers are expensive. Get the benefit of their knowledge and experience at a fraction of the price!</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Make Fitness Simple</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>When it comes to workout out, everyone has an opinion. Get the absolute best advice from pro that have dedicated their lives to figuring it all out!</p>
		  		</div>
		  	</div>
		</div>
	</div>
</div>
</div>


<!--Footer Section-->





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Join the TrainerIO Team!</h4>
      </div>
      <div class="modal-body">
        We're looking for passionate, experienced personal trainers to join the TrainerIO team. Experience with online coaching isn't necessary, but you must be a fantastic communicator and have a track record of success and reliability.</br></br>If you're interested, shoot us an email at <a href="mailto:apply@trainerio.com?Subject=I%20Want%20to%20Train">apply@trainerio.com</a>. Tell us a little about your background and your certifications. Links to your personal blog or website would be great!</br></br>We're looking forward to hearing from you! </br></br> - The TrainerIO team
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="learnmore" tabindex="-1" role="dialog" aria-labelledby="learnmore" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="learnmore"><img class="brand" src="https://s3.amazonaws.com/TrainerIO/logofull.png"></h4>
      </div>
      <div class="modal-body">
        Getting in shape is hard. If you're like us, you're overwhelmed by workout routines, exercise products, and nutrition plans. You just want someone to tell you what you need to do. A personal trainer would be great, but they can be expensive and how would you know if you're getting a good one?</br></br>Enter TrainerIO. We want to make workout simple. We'll connect you with the best minds in physical fitness and you'll get the benefits of their wisdom and experience---at a fraction of their usual cost.</br></br>Every personal trainer will have their own techniques, but we at TrainerIO will assure you get:
       <ol>
	      <li>Monthly Customized Workout Plans</li>
	      <li>Initial Phone/Skype Consultation</li>
	      <li>Two 30 Minute Calls each Month</li>
	      <li>Regular Question/Answer via Email</li>
    	</ol>
    	Plus, you'll get the TrainerIO team supporting your entire relationship. We're so confident in the trainers we've selected, if you're not happy with your experience in the first 30 days, you'll get a 100% refund!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





