<!--Jumbotron-->
<div class="header">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<h1>Get a Personal Trainer. </br> Get Results.</h1>
				<h4>Let us connect you to highly trained, pre-screened fitness professionals available for online training.</h4></br>
				<% if user_signed_in? %>
          # do something
     <% else %>
       	<%= link_to "Get Started", "#", class: "btn btn-primary btn-lg" %>
  <% end %>  
			 </br></br></br></br>
		</div>
	</div>
</div>
   	



<!--How It Works Section-->

<div class="about">
	<div class="center">
		<h5>Train with Confidence -- 100% Money Back Guarantee</h5>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading center">
			<h2>How TrainerIO Works</h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6 col-md-4">
				  <div class="thumbnail">
				    <div class="caption">
				      <h4>1. Submit a Request</h4>
				      <p>Provide us with your goals and a little information about yourself and we'll send it to our team of highly experienced fitness professionals.</p>
				    </div>
				   </div>
				  </div>
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <div class="caption">
				        <h4>2. Pick your Trainer</h4>
				        <p>We'll respond to your request with a list of pre-approved trainers. We'll let you know how they think they can help you and their personal rates. Review and select your favorite.</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <div class="caption">
				        <h4>3. Get Results</h4>
				        <p>Your trainer will provide you with a custom, reguarly updated workout plan and regular phone & email consulations. They'll also be available for questions along the way! </p>
				      </div>
				    </div>
				  </div>
</div>
</div>
</div>
	<div class="center">
		<h5>Are you an experienced trainer? </h5><%= link_to "Apply to our Team", "#", class: "btn btn-danger" %>
	</div>
</div>



<div class="page-header center">
	<h2>Why Use TrainerIO?</h2>
</div>
<div class="features">
	<div class="row center">
	  <div class="col-md-4"><h3>Fully Customized Plans</h3><p>Our trainers will create a fitness plan designed around your goals, schedule, and current level of fitness. If somethings not working for you, just tell your trainer!</p></div>

	  <div class="col-md-4"><h3>Pre-Qualified Experts</h3><p>We ensure only the best are on trainerIO by comprehensively interviewing each trainer---including reference and credential checks.</p>
	  </div>
		<div class="col-md-4"><h3>Flexible Arrangements</h3><p>Workout on your schedule! Work with your trainer to develop the best plan for you and your busy life.</p></div>	
	</div>
		<div class="row center">
	   <div class="col-md-4"><h3>Get Motivated</h3><p>Half the battle is getting yourself to the gym reguarly. Let your trainer keep you motivated and on track.</p></div>
	  <div class="col-md-4"><h3>Save Money</h3>Averaging $80/hour, trainers are expensive. Get all the benefit of their knowledge and experience at a fraction of the price!</div>
	  <div class="col-md-4"><h3>Make Fitness Simple</h3>When it comes to workout out, everyone has an opinion. Get the absolute best advice from pro that have dedicated their lives to figuring it all out!</div>
	</div>
</div>

  <hr>

        <div class="row center">
          <div class="col-lg-12">
            <p>Copyright &copy; TrainerIO 2013 | Contact Us</p>
          </div>
        </div>






