<!--Jumbotron-->
<div class="header1">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<h1>Get an Online Personal Trainer. </br> Get Results.</h1>
				<h4>Let us connect you to highly trained, pre-screened fitness professionals available for online coaching & training.</h4></br>
       		<%= link_to "Get Started", requests_path, class: "btn btn-primary btn-lg" %>
  				<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#learnmore">
  Learn More
</button>
			 		</br></br></br>
			</div>
		</div>
	</div>
</div>
   	
<!--Separator Section-->

<div class="center">
	<h5>Train with Confidence -- 30 day Money Back Guarantee</h5>
</div>

<!--How It Works Section-->

<div class="how">
	<div class="container">
			<div class="center">
				<h2>How Trainer.io Works</h2>
			</div>
			<hr>
			<div class="row center">
					<div class="col-sm-6 col-md-4">
					  <div class="thumbnail">
					      <h4><i class="fa fa-pencil-square-o"></i> Submit a Request.</h4>
					  </div>
					</div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					        <h4><i class="fa fa-user"></i> We'll find you a great trainer.</h4>
					    </div>
					  </div>
					  <div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					        <h4><i class="fa fa-star"></i> Get Connected and Get Results.</h4>
							</div>
						</div>
			</div>
	</div>
</div>

<!--Separator Section-->

	<div class="smallsection center">
		<h5>Are you an experienced personal trainer?</h5><button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Join Our Team
</button>
	</div>


<!--Features Section-->

<div class="about">
	<div class="center">
		<h2>Why Use Trainer.io?</h2>
	</div>
	<hr>
	<div class="features">
		<div class="row center">
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3><i class="fa fa-list"></i> Fully Customized Plans</h3>
		  		</div>
		  		<div class="panel-body"><p>Our trainers will create a fitness plan designed around your goals, schedule, and experience.</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3><i class="fa fa-users"></i> Pre-Screened Experts</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>We ensure only the best are on Trainer.io by comprehensively interviewing each trainer.</p>
		  		</div>
		  	</div>
		  </div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><i class="fa fa-calendar"></i> Flexible Arrangements</h3>
					</div>
					<div class="panel-body">
						<p>Workout on your schedule! Work with your trainer to develop the best plan for you and your busy life.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row center">
		  <div class="col-md-4">
		   	<div class="panel panel-default">
		   		<div class="panel-heading">
		   			<h3><i class="fa fa-comments"></i> Get Motivated</h3>
		   		</div>
		   		<div class="panel-body">
		   			<p>Get feedback and stay motivated with your personal coach, who is just an email away.</p>
		   		</div>
		   	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3><i class="fa fa-usd"></i> Save Money</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>Get the benefit of your trainer's knowledge and experience at a fraction of the usual price!</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3><i class="fa fa-smile-o"></i> Make Fitness Simple</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>Eliminate all the guesswork and get a easy to follow program designed specifically for you.</p>
		  		</div>
		  	</div>
		</div>
	</div>
</div>
</div>


<!--Footer Section-->





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Join the TrainerIO Team!</h4>
      </div>
      <div class="modal-body">
        We're looking for passionate, experienced personal trainers to join the Trainer.io team. Experience with online coaching isn't necessary, but you must be a fantastic communicator and have a track record of success and reliability.</br></br>If you're interested, shoot us an email at <a href="mailto:apply@trainerio.com?Subject=I%20Want%20to%20Train">apply@trainerio.com</a>. Tell us a little about your background and your certifications. Links to your personal blog or website would be great!</br></br>We're looking forward to hearing from you! </br></br> - The Trainer.io team
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="learnmore" tabindex="-1" role="dialog" aria-labelledby="learnmore" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="learnmore"><img class="brand" src="https://s3.amazonaws.com/TrainerIO/logofull.png"></h4>
      </div>
      <div class="modal-body">
        Getting in shape is hard. If you're like us, you're overwhelmed by workout routines, exercise products, and nutrition plans. You just want someone to tell you what you need to do. A personal trainer would be great, but they can be expensive and how do you know if you're getting a good one?</br></br>Enter Trainer.io. We want to make working out simple. We'll connect you with the best minds in physical fitness and you'll get the benefits of their wisdom and experience---at a fraction of their usual cost.</br></br>Like any pro, every trainer will have their own personal style, but we at TrainerIO will assure you get:
       <ol>
	      <li>Monthly Customized Workout Plans</li>
	      <li>Initial Phone/Skype Consultation</li>
	      <li>Two 30 Minute Calls each Month</li>
	      <li>Regular Question/Answer via Email</li>
    	</ol>
    	Plus, you'll get the Trainer.io team supporting your entire relationship. We're so confident in the trainers we've selected, if you're not happy with your experience in the first 30 days, you'll get a 100% refund! </br></br>
    	<%= link_to "Get Started Now!", requests_path, class: "btn btn-primary" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





