<!--Jumbotron-->
<div class="header">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<h1>Get a Personal Trainer. </br> Get Results.</h1>
				<h4>Let us connect you to highly trained, pre-screened fitness professionals available for online coaching & training.</h4></br>
				<% if user_signed_in? %>
          # do something
     		<% else %>
       		<%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  			<% end %>  
			 		</br></br></br></br>
			</div>
		</div>
	</div>
</div>
   	
<!--Separator Section-->

<div class="center">
	<h5>Train with Confidence -- 100% Money Back Guarantee</h5>
</div>

<!--How It Works Section-->

<div class="about">
		<div class="page-header center">
			<h2>How TrainerIO Works</h2>
		</div>
		<div class="row center">
				<div class="col-sm-6 col-md-4">
				  <div class="thumbnail">
				    <div class="caption">
				      <h4>1. Submit a Free Request.</h4>
				    </div>
				  </div>
				</div>
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <div class="caption">
				        <h4>2. We'll find you a great trainer.</h4>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <div class="caption">
				        <h4>3. Get Connected and Get Results.</h4>
				      </div>
						</div>
					</div>
		</div>
</div>

<!--Separator Section-->

	<div class="center">
		<h5>Are you an experienced, passionate personal trainer?</h5><button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Join Our Team
</button></br></br>
	</div>


<!--Features Section-->

<div class="about">
	<div class="page-header center">
		<h2>Why Use TrainerIO?</h2>
	</div>
	<div class="features">
		<div class="row center">
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Fully Customized Plans</h3>
		  		</div>
		  		<div class="panel-body"><p>Our trainers will create a fitness plan designed around your goals, schedule, and current level of fitness. If somethings not working for you, just tell your trainer!</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Pre-Qualified Experts</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>We ensure only the best are on trainerIO by comprehensively interviewing each trainer---including reference and credential checks.</p>
		  		</div>
		  	</div>
		  </div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Flexible Arrangements</h3>
					</div>
					<div class="panel-body">
						<p>Workout on your schedule! Work with your trainer to develop the best plan for you and your busy life. Let technology set you free!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row center">
		  <div class="col-md-4">
		   	<div class="panel panel-default">
		   		<div class="panel-heading">
		   			<h3>Get Motivated</h3>
		   		</div>
		   		<div class="panel-body">
		   			<p>Half the battle is getting yourself to the gym reguarly. Let your trainer keep you motivated, encourged, and on track to surpass your goals.</p>
		   		</div>
		   	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Save Money</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>Averaging $80/hour, trainers are expensive. Get all the benefit of their knowledge and experience at a fraction of the price!</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="col-md-4">
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h3>Make Fitness Simple</h3>
		  		</div>
		  		<div class="panel-body">
		  			<p>When it comes to workout out, everyone has an opinion. Get the absolute best advice from pro that have dedicated their lives to figuring it all out!</p>
		  		</div>
		  	</div>
			</div>
		</div>
	</div>
</div>


<!--Footer Section-->

			<div class="footer">
				<hr>
        <div class="row center">
          <div class="col-lg-12">
            <p>Copyright &copy; TrainerIO 2013 | Contact Us</p>
          </div>
        </div>
      </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Join the TrainerIO Team!</h4>
      </div>
      <div class="modal-body">
        We're looking for passionate, experienced personal trainers to join the TrainerIO team. Experience with online coaching isn't necessary, but you must be a fantastic communicator and have a track record of success and reliability.</br></br>If you're interested, shoot us an email at <a href="mailto:apply@trainerio.com?Subject=I%20Want%20to%20Train">apply@trainerio.com</a>. Tell us a little about your background and your certifications. Links to your personal blog or website would be great!</br></br>We're excited to hear from you - The TrainerIO team
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






