<div class="header">
	<div class="container">
		<h4>Steps to finding your perfect trainer:</h4>
		<ol>
	  	<li>Fill out the trainer request form below.</li>
	  	<li>Within 24 hours, our team will email you with an available trainer that is perfect for you (and their monthly rates).</li>
	  	<li>You can accept that trainer, or tell us why they're not right for you and we'll find you someone else.</li>
	  	<li>After we find the perfect trainer for you, we'll put you in touch to get to work!</li>
		</ol>
	</div>
	<div class="center">
	<h5>If you're not happy with your trainer after 30 days, we'll offer you a 100% refund!</h5>
</div>
</div>



<div class="container">
<iframe src="https://docs.google.com/a/trainerio.com/forms/d/1FehiY012NQjcUjnr-ciP-0nbXq7dsEglUlKUkciaWtc/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>



<button type="submit" class="btn btn-danger">Submit</button>
</br></br>
</form>
</div>

<div class="about">
	<hr>
	<div class="row center">
    <div class="col-lg-12">
      <p>Copyright &copy; TrainerIO 2013 | <a href="mailto:support@trainerio.com">Contact Us</a></p>
    </div>
  </div>
	</br>
	</br>
</div>


