<div class="header">
	<div class="container">
		<h4>Steps to finding your perfect trainer:</h4>
		<ol>
	  	<li>Fill out the trainer request form below/</li>
	  	<li>Within 24 hours, our team will email you with an available trainer that is perfect for you (and their monthly rates).</li>
	  	<li>You can accept that trainer, or tell us why they're not right for you and we'll find you someone else.</li>
	  	<li>After we find the perfect trainer for you, we'll put you in touch to get to work!</li>
		</ol>
	</div>
	<div class="center">
	<h5>If you're not happy with your trainer after 30 days, we'll offer you a 100% refund!</h5>
</div>
</div>



<div class="container">
<form role="form">
	<div class="form-group"></br>
    <label for="name">Your Name</label>
    <input type="name" class="form-control" id="name" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>


<h5>What best characterizes your fitness goals?</h5>
<div class="radio">
 	<label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    General Fitness
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Weight Loss
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    Strength/Size Gain
  </label>
</div>



<button type="submit" class="btn btn-danger">Submit</button>
</br></br>
</form>
</div>

<div class="about">
	<hr>
	<div class="row center">
    <div class="col-lg-12">
      <p>Copyright &copy; TrainerIO 2013 | <a href="mailto:support@trainerio.com">Contact Us</a></p>
    </div>
  </div>
	</br>
	</br>
</div>

