			<div class="footer">
				<hr>
        <div class="row center">
          <div class="col-lg-12">
            <p>Copyright &copy; Trainer.io 2013 | <a href="mailto:support@trainerio.com">Contact Us</a></p>
          </div>
        </div>
      </div>